<div class="container-fluid">
	<h1 class="text-center">Available Groups</h1>
	<div class="row">
		<% @groups.each do |group| %>
			<div class="col-md-4">
				<div class="jumbotron">
					<h2><%= link_to group.name.capitalize, group_path(group) %></h2>
					<h5>Organizer: <%= find_group_organizers(group) %></h5>
				</div>
			</div>
		<% end %>
	</div>
</div>
