<div class="container-fluid">
	<h1 align="center">Welcome To MeetUp Clone</h1>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h1><%= link_to "GROUPS", groups_path %></h1>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>USERS</h1>
			</div>
		</div>
	</div>
</div>
